body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-image: url("https://tse3.mm.bing.net/th/id/OIP.vScXyHHjsKcRzepSDt0AuAHaEK?cb=iwp1&rs=1&pid=ImgDetMain");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Contenedor del selector */
.selector-container {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 10px;
  width: fit-content;
}

/* Estilo del select */
select.pokemon {
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333;
}

/* Contenedor donde se muestra la imagen del Pokémon */
.imagenpokemon {
  min-height: 150px;
  min-width: 150px;
  border: 2px dashed #ccc;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

/* Estilos específicos de cada Pokémon */
.pikachu {
  background-image: url("https://w7.pngwing.com/pngs/359/444/png-transparent-pikachu-art-t-shirt-pikachu-mammal-vertebrate-computer-wallpaper.png");
}

.charmander {
  background-image: url("https://image.pngaaa.com/858/249858-middle.png");
}

.bulbasaur {
  background-image: url("https://toppng.com/public/uploads/preview/imagenes-de-bulbasaur-11563527030lko3af2ehy.png");
}

.squirtle {
  background-image: url("https://th.bing.com/th/id/R.a719c088e9602f0be5426217f9f057c4?rik=CBx8vB9GfmHOeA&pid=ImgRaw&r=0");
}

/* Contenedor de batalla */
.battle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
  gap: 20px;
  flex-wrap: wrap;
}

/* Texto del resultado */
.resultado {
  flex-basis: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}



.trofeos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  font-size: 32px;
  gap: 10px;
}

.mensaje-final {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
}
.boton-reiniciar {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-reiniciar:hover {
  background-color: #d32f2f;
}



@media (max-width: 600px) {
  .imagenpokemon {
    min-height: 100px;
    min-width: 100px;
  }

  .resultado {
    font-size: 18px;
  }
}
